$blog-primary: #228b22;
$blog-primary-dark: #084808;
$blog-primary-light: #34ca9f;
$blog-secondary: #ffc0cb;
$blog-tertiary: #ffebcd;
$blog-tertiary-light: #fff7ef;
$blog-quaternary: rgb(255, 158, 48);
$blog-background: rgb(241, 241, 241);

$footer-font-size: 16px;
