@import 'constant.scss';

.container {
  border: 2px solid transparent;
  border-radius: 10px;
  background-image: linear-gradient(white, white),
    linear-gradient($blog-secondary, $blog-tertiary);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.link {
  text-decoration: none;
  .listItem {
    padding: 10px 20px;
    transition: all 0.1s ease;
  }

  #title {
    margin-bottom: 10px;
    transition: color 0.1s ease;
    color: $blog-primary;
  }
  #summary {
    margin-bottom: 5px;
  }
  #time {
    color: grey;
  }
  h1 {
    font-size: medium;
    margin: 0 0;
  }
  p {
    font-size: small;
    margin: 0 0;
    small {
      font-size: x-small;
    }
  }
  &:visited {
    #title {
      color: $blog-primary-dark;
    }
  }
  &[data-selected~='true'] {
    .listItem {
      border-left: 3px solid $blog-primary;
      border-right: 3px solid $blog-primary;
      border-radius: 3px;
      box-shadow: 0px 0px 1px lightgrey inset, 1px 1px 3px gray;
    }
    #title {
      color: $blog-primary-light;
    }
  }
}
.pagination {
  background-color: rgba(gray, 0.3);
}
