@import 'constant.scss';

.container {
  border: 2px solid transparent;
  border-radius: 10px;
  background-image: linear-gradient(white, white),
    linear-gradient($blog-secondary, $blog-tertiary);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.listItem {
  padding-top: 10px;
  transition: all 0.1s ease;

  #title {
    color: $blog-primary;
  }
  &:visited {
    #title {
      color: $blog-primary-dark;
    }
  }
  &[data-selected~='true'] {
    border-left: 3px solid $blog-primary;
    border-right: 3px solid $blog-primary;
    border-radius: 3px;
    box-shadow: 0px 0px 1px lightgrey inset, 1px 1px 3px gray;
    #title {
      color: $blog-primary-light;
    }
  }
  #time {
    color: grey;
  }
}
.pagination {
  background-color: rgba(gray, 0.3);
}
