@import 'constant.scss';

.card {
  border: 2px solid transparent;
  border-radius: 10px;
  background: $blog-tertiary-light;
  box-shadow: 1px 1px 5px gray;

  .previewImage {
    width: 100%;
    height: 100%;
    min-height: 120px;
    border-radius: 10px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
  }
  .title {
    color: black;
  }
  .description {
    color: black;
  }
}
