@import 'constant.scss';

.header {
  background: linear-gradient(90deg, $blog-primary, $blog-tertiary);
  z-index: 1029; //기본 스티키 1020 그 위의 fixed가 1030이므로

  .githubIcon {
    transition: all 1s ease;
    content: url(/assets/github/github-mark-white-alpha.svg);
    &:hover {
      content: url(/assets/github/github-mark-white.svg);
    }
  }

  .beakjoonIcon {
    color: #fff8;
    &:hover {
      color: #ffffff;
    }
  }
}
