@import 'constant.scss';

.header {
  background: linear-gradient($blog-primary-light, 20%, $blog-primary);
  z-index: 1029; //기본 스티키 1020 그 위의 fixed가 1030이므로

  .githubIcon {
    width: 20px;
    height: 20px;
    background-color: #fff8;
    mask: url(/assets/github/github-mark-white.svg) no-repeat center;
    mask-size: contain;
    &:hover {
      background-color: white;
    }
  }

  .beakjoonIcon {
    color: #fff8;
    &:hover {
      color: #fff;
    }
  }
}
